<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/styles/style.css">
    <title>SignUp</title>
</head>

<body>
    <h1>SignUp</h1>

    <form action="/user" method="POST">
        <label>Enter Your Full Name</label>
        <input type="text" name="name" />
        <label>Email</label>
        <input type="text" name="email" />
        <label>Password</label>
        <input type="text" name="password" />
        <button type="submit">Sign Up</button>
    </form>
    <p>Have an account?<a href="/login">Login</a></p>
</body>

</html>